* {
    margin: 0;
    padding: 0;
}
body {
    background: white;
    font-family: "Open Sans";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: all 1s;
}

.bold {
    font-weight: bold;
}


.topleft {
    backdrop-filter: blur(50px);
    padding: 1vw;
    border-radius: 25px;
    position: absolute;
    top: 1vw;
    left: 1vw;
    white-space: nowrap;
    font-size: 1.2vw;
}

.topleft img {
    display: inline-block;
    width: 5vw; 
    height: 5vw; 
    filter: invert(1);
    vertical-align: middle;
    animation: rotation 4s infinite ease-in-out; 
}

.topleft .motto {
    vertical-align: middle;
    padding-left: 0.7vw;
    color: white; 
    display: inline-block;
}

.info {
    backdrop-filter: blur(50px);
    padding: 1vw;
    border-radius: 25px;
    position: absolute;
    top: 1vw;
    right: 1vw;
    color: white;
    font-size: 3vw;
    font-weight: bold;
}

.weather {
    backdrop-filter: blur(50px);
    padding: 1vw;
    border-radius: 25px;
    position: absolute;
    top: 1vw;
    right: 37vw;
    white-space: nowrap;
    font-size: 1vw;
    vertical-align: middle;
}
.weather p {
    display: inline-block;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    padding-left: 0vw;
    vertical-align: middle;
}

.weather .toptxt {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 1vw;
    font-weight: bold;
    padding-left: 0vw;
    vertical-align: middle;
}

.weatherhours {
    backdrop-filter: blur(50px);
    padding: 1vw;
    border-radius: 25px;
    position: absolute;
    top: 1vw;
    right: 24vw;
    white-space: nowrap;
    font-size: 1vw;
    vertical-align: middle;
}

.weatherhours p {
    display: inline-block;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    padding-left: 0vw;
    vertical-align: middle;
}

.weatherhours .toptxt {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 1vw;
    font-weight: bold;
    padding-left: 0vw;
    vertical-align: middle;
}

.weathertomorrow {
    backdrop-filter: blur(50px);
    padding: 1vw;
    border-radius: 25px;
    position: absolute;
    top: 1vw;
    right: 11vw;
    white-space: nowrap;
    font-size: 1vw;
    vertical-align: middle;
}

.weathertomorrow p  {
display: inline-block;
color: white;
font-size: 3vw;
font-weight: bold;
padding-left: 0vw;
vertical-align: middle;
}

.weathertomorrow .toptxt {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 1vw;
    font-weight: bold;
    padding-left: 0vw;
    vertical-align: middle;
}


.bins {
    position: absolute;
    backdrop-filter: blur(50px);
    height: 5vw;
    color: white;
    padding: 1vw;
    border-radius: 25px 25px 0px 0px;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.data {
    position: absolute;
    backdrop-filter: blur(75px);
    color: white;
    padding: 1vw;
    border-radius: 25px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }